*, ::after,::before {
    box-sizing: border-box;
}

body {
    background-color: darkgray;
    font-family: 'Kanit', sans-serif;
}

main {
    display: grid;

}

header {
    display: grid;
    grid-template-columns: auto 1fr;
    background-color: #333;
    color: white;
    padding: 1rem;
}

footer {
    display: grid;
    background-color: #333;
    color: white;
    padding: 1rem;
}

header h1 {
    text-align: center;
}

a {
    text-decoration: none;
    color: #eee;
}

a:hover {
    color: #f66700;
}

.link-light {
    color: #000;
    text-decoration: underline
}

.logo img {
    width: 100px;
    padding-right: 1rem;
}

.logo span {
    font-size: 1.5rem;
}

.download-span {
    display: inline-block;
    line-height: 60px;
    vertical-align: middle;
    width: 100%;
    text-align: center;
    grid-row: 2;
}


.tab-page {

    background-color: white;

}

.main-home {
    padding: 1rem;
    background-color: white;
    color: #333;
    border-radius: 6px;
}

button {
    font-family: 'Kanit', sans-serif;
    font: bold;
    font-size: 1.1rem;
    background-color: #f66700;
    color: white;
    padding: .1rem .5rem .1rem .5rem;
    border-radius: 4px;
    cursor: pointer;
    margin: 1px;
}

select,
input,
option {
    box-shadow: 2px 2px 4px #333;
    border-radius: 4px;
    border: 1px solid #555;
    padding: 0.5rem;
}
input[type='checkbox'],input[type='radio']  {
    box-shadow: none;
    border-radius: none;
    cursor: pointer;
}



.cards {
    display: grid;
    justify-content: center;

}


.card-titles {
    display: none;


}

.channel-card {
    display: grid;
    justify-self: center;
    margin: .5rem;
    padding: .5rem;
    border-radius: 5px;
    background-color: lightgray;
    box-shadow: 4px 4px 4px #333;
    border: 1px solid #333;
    width: 100%;


}


.channel-card input,
.channel-card option,
.channel-card select,
.channel-card span {
    border: 1px solid #555;
    padding: 0.2rem;
    text-align: center;
    border-radius: 0;
}


#channel-opt-zonename {
    width: 120px;
}

option {
    background-color: white;
    padding: 1rem;
}

.page {
    display: grid;

}

/* Nav */

.tabs ul {
    /* display: grid; */
    justify-content: center;
    list-style-type: none;
    margin: 0;
    padding: 0.5rem 0.5rem 0 0;
    /* padding-bottom: 0; */
    /* width: 500px;*/
}


.tab {
    background-color: #333;
    padding: 0.5rem;
    /* margin-right: 2px; */
    color: white;
    border: 1px solid #555;
    /* border-radius: 4px 4px 0 0; */
    /* border-bottom: none; */
    font-weight: bold;
    /* box-shadow: inset 1px 1px 1px #666; */
    cursor: pointer;
    /* width: 100%; */
    text-align: center;
}





.ch-index {
    cursor: pointer;
}

.tab-page {
    display: none;
    border-radius: 0 0 8px 8px;
    padding: .5rem;
    justify-content: inherit;
}

.channel-options {
    display: flex;
    flex-wrap: wrap;
    padding: .5rem;
    background-color: inherit;
    justify-content: center;
}

.page-global-group select {
    padding: .5rem;
    width: 120px;
}

.page-global-group {
    display: grid;
    justify-items: right;
    grid-gap: .25rem;
    padding: 0.2rem;
    width: 320px;
}

.page-header {
    display: flex;
    justify-content: center;
    width: -webkit-fill-available;
    padding: .5rem;
    margin-bottom: 1rem;
    border: 2px solid #333;
    background-color: lightgrey;
    justify-items: center;
    grid-column: 1 / -1;
    justify-self: center;
}

#page-zones input {
    margin: .5rem;

}


.channel-card input:invalid {
    background-color: lightsalmon;
}

.main-menu {
    grid-column: 1/-1;
}

.main-menu ul {
    display: flex;
    justify-content: space-around;
    list-style-type: none;
    margin: 0;
    padding: .5rem .5rem 0 0;
    padding-bottom: 0;
}

.main-menu ul li {

    padding: .5rem;
    margin-right: 2px;
    font-size: 1.2rem;
    font-weight: bold;

    cursor: pointer;
}

.flex-cont {
    display: flex;
    flex-wrap: wrap;
    justify-items: right;
    justify-self: center;
    justify-content: center;
}

.channel-card input:invalid {
    background-color: lightsalmon;
}

.tab:hover,
.active {
    background-color: #FFF;
    color: black;
}

.vfo {
    display: grid;
}

label {
    margin: .5rem;
}

fieldset{
    background-color: lightgray;
    border-radius: 4px;
    box-shadow: 2px 2px 2px #333;
    margin: .5rem;
}

.opt-group {
    padding: .5rem;
}

#popup{
    display: none;
    width:100%;
    overflow: hidden;
    position: absolute;
    top: 0;
    left: 0;
    background-color: #f66700;
    box-shadow: 0 2px 5px #333;
    grid-gap: .25rem;
    animation-name: animatetop;
    animation-duration: 0.5s;


}

#popup header{
    display: grid;
    grid-template-columns: auto max-content;
    

}

.import-popup-opts{
    display: grid;
    justify-content: center;
    padding: 1rem;
    grid-gap: .25rem;
    justify-self: center;
}

@keyframes animatetop {
    from{top:-300px;opacity: 0}
    to{top:0; opacity: 1;}
    
}

.close-btn{
    justify-self: right;
    height: max-content;
}