body {
    background-color: darkgray;
}

header {
    background-color: darkslategray;
    color: white;
    padding: 1rem;
}

.channel_cards {
    overflow: scroll;
    height: 100%;
    min-height: 100%;
}

.side_bar {
    background-color: cadetblue;
}

.card_titles {
    font-weight: bold;
    background-color: white;
    padding: .5rem;

}

.channel_card,
.card_titles {
    display: grid;
    grid-template-columns: 25px 100px 70px 100px 70px 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 200px;


}

.channel_card:nth-child(even) input,
.channel_card:nth-child(even) select {
    background-color: lightgray;
}

.channel_card input,
.channel_card option,
.channel_card select,
.channel_card span {
    border: 1px solid #555;
    padding: 0.2rem;
    text-align: center;
}

option {
    background-color: white;
    padding: 1rem;
}

.page {
    display: grid;
}

.tab ul {
    display: flex;
    justify-content: left;
    list-style-type: none;
    margin: 0;
    padding: .5rem .5rem 0 0;
    padding-bottom: 0;
    width: calc(100% - 1rem);
}


.tab ul li {
    padding: .5rem;
    margin-right: 2px;
    color: #000;
    border: 1px solid #555;
    border-radius: 4px 4px 0 0;
    border-bottom: none;
    font-weight: bold;
    box-shadow: inset 1px 1px 1px #666;
    cursor: pointer;
}

.active {

    background-color: white;
    color: #333;
}

.tab ul li:hover {
    background-color: #eee;
}

.tab ul li:hover {
    transform: scale(110%);
}

.ch-index {
    cursor: pointer;
}

.tab-page {
    display: none;
    background-color: white;
    border-radius: 0 0 8px 8px;
    padding: .5rem;
}

.channel-options {
    padding: .5rem;
    background-color: white;
}

.page-global-group select {
    padding: .5rem;
    width: 120px;
}

.page-global-group{
    display: grid;
    justify-items: right;
    grid-gap: .25rem;
}

#page-global {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr ;
    justify-items: center;
}
#page-zones input {
    margin: .5rem;
    
}
